<div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="25">
      <mat-card class="my-card">

          <mat-card-header>
              <mat-card-title>Sign Up</mat-card-title>
          </mat-card-header>

          <mat-card-content>
              <form class="my-form" [formGroup]="signupForm" (ngSubmit)="onSignup()">
                  <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input  matInput  placeholder="Email" name="email" formControlName="email" required>
                  </mat-form-field>
                  <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input  matInput  placeholder="Password" name="password" formControlName="password" required [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button class="full-width" (click)="onSignup()" color="primary">SIGN UP</button>
            </mat-card-actions>
      </mat-card>
    </div>
</div>