.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar-row {
  /* padding: 0; */
  position: relative;
}

.mat-icon {
  font-size: 20px;
  color: white;
}

.nav-icon {
  position: absolute;
  right: 10px;
}
