<div fxLayout="row" fxLayoutAlign="center center">
<div fxFlex="25">
<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title>Log In</mat-card-title>
        <mat-card-subtitle>Email: admin@gmail.com | Password: superadmin</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
      <div class="social-media">
          <a mat-raised-button color="warn" class="full-width" (click)="loginWithGoogle()">
              <span class="fab fa-google"></span> Sign in with Google
          </a>
      </div>
      <form class="my-form" [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email" formControlName="email" required>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password" name="password" formControlName="password" required [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
          </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="full-width" type="submit" (click)="loginWithEmail()" color="primary">LOGIN</button>
    </mat-card-actions>
</mat-card>
</div>
</div>
