<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="25">
    <mat-card class="my-card">
      <mat-card-header>
        <mat-card-title>Profile</mat-card-title>
        <mat-card-subtitle>Hello,{{ currentUser?.displayName }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form fxLayout="column" fxLayoutGap="20px" class="my-form"[formGroup]="profileForm" (ngSubmit)="updateProfile()">
          <div >
            <img mat-card-avatar class="avatarImage"  [src]="currentUser?.photoURL">
          </div>
          <div>
            <input name="avatarUpload" type="file" (change)="onselectedImg($event)" accept='image/*'>
          </div>
          <div></div>
          <mat-form-field class="full-width">
            <mat-label>{{ currentUser?.displayName }}</mat-label>
            <input matInput placeholder="Type a new username" formControlName="userName">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="full-width" (click)="updateProfile()" color="primary">Update</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


