<mat-card class="my-card">
    <mat-card-header>
        <mat-card-title>Add Admin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="addAdminForm" (ngSubmit)="addAdmin()">
            <mat-form-field>
              <mat-label>Make new admin? Type an email!</mat-label>
              <input  matInput  placeholder="Email" name="email" formControlName="email" required>
            </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="addAdmin()" color="primary">Add Admin</button>
      </mat-card-actions>
</mat-card>
